.team_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_title {
    color: #fff;
    text-transform: uppercase;
}

.player_content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.player_aside {
    background-color: #625f83;
    padding: 15px;
    width: 45%;
    border-radius: 20px;
    max-height: 640px;
    overflow: auto;
}

.player_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin: 8px 0;
    cursor: pointer;
}

.player_photo img {
    width: 80px;
    height: auto;
    border-radius: 100%;
}

.player_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.player_details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player_details span {
    color: #1c1a35;
    font-size: 13px;
    font-weight: 600;
}

.player_name {
    font-weight: 600;
}


.player_details-shirt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.player_details-shirt svg {
    color: #191634;
    font-size: 45px;
}

.player_details-shirt span {
    position: absolute;
    bottom: 5px;
    font-weight: 600;
    color: #fff;
}

.player_status {
    margin-left: 50px;
    width: 55%;
    background-image: linear-gradient(to right, #8985bb, #454266);
    border-radius: 25px;
    padding: 15px;
}

.player_status-header {
    padding: 15px;
}

.player_status-header h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.select-content {
    width: 250px;
    margin-bottom: 20px;
}

.player_games {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    margin-bottom: 20px;
    padding: 8px;
    background-color: #fff;
    border-radius: 25px;
}


.player_games-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 15px;
}

.player_score {
    text-align: end;
}

.player_score {
    color: #fff;
}