.wrapper{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #191634;
    width: 100%;
}

.content {
    width: 90%;
    padding: 20px;
    border-radius: 30px;
}