.content {
    max-width: 1480px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
}

.content {
    width: 90%;
    padding: 20px;
    border-radius: 30px;
}